/*my additions*/

div.datepicker tbody {
  color: #000;
}
/*div.datepicker table,thead,tr,td {
  color: #000;
}*/

.dTP table{
  z-index: 999999;
}
.dTP th{
  color: #000;
}
.dTP tr {
  color: #000;
}.dTP thead {
  color: #000;
}
/*#datetimepicker2 th {
  color: #000;
}*/

.navbarcolor1{
    background-color: #EBEFF2
}
.navbarcolor2{
    background-color: #EBEFF2
}
