<div class="row" style=" z-index: 999;position: fixed; width: 100%;top: 70px">
      <div class="col-sm-12 navbarcolor1" style="padding: 0px; margin: 0px;">
      <div class="m-b-30 navbarcolor2" style="">
            <a ui-sref="effort.new" class="btn btn-primary waves-effect waves-light">Add <i class="fa fa-plus"></i></a>
      </div>
      </div>
</div>

<div class="row">
    <div class="col-sm-12">
       <div class="card-box table-responsive">

         <h4 class="header-title m-t-0 m-b-30">EFFORT LIST</h4>

            <table id="datatable" class="table table-striped table-bordered">
                <thead>
                    <tr>
                       <th>Sl No</th>
                       <th>Employee</th>
                       <th>Job</th>
                       <th>Process</th>
                       <th>Part/Category No</th>
                       <th>Start Time</th>
                       <th>End Time</th>
                       <th>Regular</th>
                       <th>Overtime</th>
                       <th>Action</th>
                    </tr>
                </thead>

                <tbody>
                    <tr ng-repeat="x in effortList">
                       <td>{{$index+1}}</td>
                       <td>{{x.user.name}}</td>
                       <td>{{x.job.title}} </td>
                       <td>{{x.process.name}}</td>
                       <td>{{x.partNo}}</td>
                       <td>{{x.start|date :  "dd/MM/yy hh:mm a"}}</td>
                       <td>{{x.stop|date :  "dd/MM/yy hh:mm a"}}</td>
                       <td>{{hourMinute(x.total-x.overtime)}}</td>
                       <td>{{hourMinute(x.overtime)}}</td>
                       <td>
                          <a ng-click="edit(x)" class="btn btn-icon waves-effect waves-light btn-info m-b-5 btn-xs">
                             <i class="fa fa-pencil"></i>
                          </a>
                          <a class="ng-hide btn btn-icon waves-effect waves-light btn-danger m-b-5 btn-xs " ng-click="mark4Delete(x)" data-toggle="modal" data-target=".bs-example-modal-sm">
                             <i class="fa fa-trash-o"></i>
                          </a>
                       </td>
                    </tr>
               </tbody>
            </table>
       </div>
    </div><!-- end col -->
</div>
<!-- end row -->

<div class="modal bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" style="display: none;">
   <div class="modal-dialog modal-sm">
       <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="mySmallModalLabel">Confirm</h4>
            </div>
            <div class="modal-body">
             Delete this record permanently from database?
            </div>
            <div class="modal-footer">
               <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Close</button>
               <button ng-click="delete()" type="button" data-dismiss="modal" class="btn btn-danger waves-effect waves-light">Delete
                  <i class="fa fa-trash-o"></i></button>
            </div>
       </div><!-- /.modal-content -->
   </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
