<div ng-if="ginfo.isAdmin()" class="row" style=" z-index: 999;position: fixed; width: 100%;top: 70px">
      <div class="col-sm-12 navbarcolor1" style="padding: 0px; margin: 0px;">
      <h4 class="header-title m-t-0 m-b-30 ng-hide" ng-show="jobInfo">JOB EFFORT LIST {{'for ' +jobInfo.title}}</h4>
   </div>
</div>
<div ng-if="ginfo.isAdmin()" class="row"  style="margin-top: 35px">
      <div class="col-sm-12">
      <div class="m-b-30">
         <div class="input-group ng-hide" ng-show="showMe">
            <div angucomplete-alt placeholder="Search job" pause="400" selected-object="selectedJob" remote-url="/api/job/searchJob/" remote-url-data-field="result" title-field="title" input-class="form-control">
            </div>
            <span class="input-group-btn">
            <button ng-click="select(selectedJob.originalObject)" type="button" class="btn waves-effect waves-light btn-primary">Select Job</button>
            </span>
         </div>
      </div>
   </div>
</div>

<div ng-if="ginfo.isAdmin()" class="row">

    <div class="col-sm-12">
       <!-- <div class="card-box table-responsive"> -->
<form role="form">
         <div class=" form-group" style="min-height:460px;">

            <table id="datatable2" class="table">
               <!-- table-striped table-bordered  -->
                <thead>
                    <tr>
                       <th>#</th>
                       <th>Employee</th>
                       <th>Process</th>
                       <th>ST DT TIME</th>
                       <th>END DT TIME</th>
                       <th>Part/Category No</th>
                       <th>Action</th>
                    </tr>
                </thead>

                <tbody class="ng-hide" ng-show="currentJobId">

                     <tr>
                        <!-- <form> -->
                        <td></td>
                        <td>
                           <div angucomplete-alt placeholder="Search Employee" pause="400" selected-object="selectEmp" remote-url="/api/user/searchEmp/" remote-url-data-field="result" title-field="code,name" input-class="form-control">
                           </div>
                        </td>
                        <td>
                           <select class="form-control" ng-options="item as item.name for item in processList track by item._id" ng-model="effort.process"></select>
                        </td>
                        <td>
                           <div class="input-group date dTP" placeholder="start time">
                              <input datetimepicker options="options" ng-model="effort.start"  type="text" class="form-control" />
                              <span class="input-group-addon">
                                   <span class="glyphicon glyphicon-calendar"></span>
                              </span>
                           </div>
                        </td>
                        <td>
                           <div class="input-group date dTP" placeholder="start time">
                              <input datetimepicker options="options" ng-model="effort.stop" placeholder="stop time" type="text" class="form-control" />
                              <span class="input-group-addon">
                                   <span class="glyphicon glyphicon-calendar"></span>
                              </span>
                           </div>
                        </td>
                        <td>
                           <input type="text" class="form-control" placeholder="Part Number" ng-model="effort.partNo"/>
                        </td>
                         <td>
                           <button type="submit" ng-click="add(effort)" class="btn waves-effect waves-light btn-info m-b-5 btn-md">
                             <i class="fa fa-floppy-o"></i>
                           </button>
                        </td><td></td>
                     <!-- </form> -->
                     </tr>
                   <!-- <form> -->

                  <!-- <form> -->
                     <tr>
                        <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                     </tr>
                  <!-- </form> -->

                    <tr ng-repeat="x in jobEffort">
                       <td>{{$index+1}}</td>
                       <td>
                          <div initial-value ="x.user" angucomplete-alt placeholder="Search Employee" pause="400" selected-object="selectEmp" remote-url="/api/user/searchEmp/" remote-url-data-field="result" title-field="code,name" input-class="form-control">
                          </div>
                       </td>
                       <td>
                          <select class="form-control" ng-options="item as item.name for item in processList track by item._id" ng-model="x.process"></select>
                       </td>
                       <td>
                          <div class="input-group date dTP" placeholder="start time">
                             <input datetimepicker options="options" ng-model="x.start"  type="text" class="form-control" />
                             <span class="input-group-addon">
                                  <span class="glyphicon glyphicon-calendar"></span>
                             </span>
                          </div>
                       </td>
                       <td>
                          <div class="input-group date dTP" placeholder="start time">
                             <input datetimepicker options="options" ng-model="x.stop" placeholder="stop time" type="text" class="form-control" />
                             <span class="input-group-addon">
                                  <span class="glyphicon glyphicon-calendar"></span>
                             </span>
                          </div>
                       </td>
                       <td>
                          <input type="text" class="form-control" required placeholder="Part Number" ng-model="x.partNo"/>
                       </td>
                        <td>
                          <button type="submit" ng-click="update(x)" class="btn waves-effect waves-light btn-info m-b-5 btn-md">
                             <i class="fa fa-floppy-o"></i>
                          </button>
                        </td>
                        <td>
                          <a class="btn waves-effect waves-light btn-danger m-b-5 btn-md " ng-click="edit(x)" data-toggle="modal" data-target=".bs-example-modal-sm">
                             <i class="fa fa-trash-o"></i>
                          </a>
                       </td>
                    </tr>
                 <!-- </form> -->
               </tbody>
            </table>
</div>
         </form>
       <!-- </div> card box -->
    </div>
    <!-- end col -->

</div>
<!-- end row -->

<div ng-if="ginfo.isUsr()" class="row">
   <div class="col-sm-12">
      <form role="form">
         <div class=" form-group">

            <table id="datatable" class="table">
               <!-- table-striped table-bordered  -->
                <thead>
                    <tr>
                       <th>#</th>
                       <th>Job</th>
                       <th>Process</th>
                       <th>ST DT TIME</th>
                       <th>END DT TIME</th>
                       <th>Part/Category No</th>
                       <th>Action</th>
                    </tr>
                </thead>
<!-- {{effort}} -->
                <tbody style="min-height:10px">
                  <tr>
                        <td></td>
                        <td>
                           <div angucomplete-alt placeholder="Search Job" pause="400" selected-object="selectJob" remote-url="/api/job/searchJob/" remote-url-data-field="result" title-field="title" input-class="form-control">
                           </div>
                        </td>
                        <td>
                           <ui-select tagging theme="selectize" uis-open-close="onOpen(isOpen)" search-enabled="false" ng-model="effort.process" style="min-width:150px;">
                              <ui-select-match placeholder="Select process...">{{$select.selected.name}}</ui-select-match>
                              <ui-select-choices repeat="item in processList">
                                <large ng-bind-html="item.name"></large>
                              </ui-select-choices>
                            </ui-select>
                       </td>
                        <!-- <td>
                           <select class="form-control" ng-options="item as item.name for item in processList track by item._id" ng-model="effort.process"></select>
                        </td> -->
                        <td ng-if="ginfo.isUsr()">
                           <div class="input-group">
                             <input ng-disabled="ginfo.isUsr()" ng-model="effort.start" type="text" class="form-control" placeholder="start time" id="datepicker">
                             <span ng-click="setStartTime(effort)" class="input-group-addon bg-primary b-0 text-white"><i class="ti-time"></i></span>
                           </div>
                        </td>
                        <td ng-show="ginfo.isUsr()">
                           <div class="input-group">
                             <input ng-disabled="ginfo.isUsr()" ng-model="effort.stop" type="text" class="form-control" placeholder="stop time" id="datepicker">
                             <span ng-click="setStopTime(effort)" class="input-group-addon bg-primary b-0 text-white"><i class="ti-time"></i></span>
                           </div>
                        </td>
                        <td>
                           <input type="text" class="form-control" placeholder="Part Number" ng-model="effort.partNo"/>
                        </td>
                         <td>
                           <button type="submit" ng-click="add(effort)" class="btn waves-effect waves-light btn-info m-b-5 btn-md">
                             <i class="fa fa-floppy-o"></i>
                           </button>
                        </td>
                     <!-- </form> -->
                     </tr>
                   <!-- <form> -->

                  <!-- <form> -->
                     <tr>
                        <td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                     </tr>
                  <!-- </form> -->

                    <tr ng-repeat="x in jobEffort">
                       <td>{{$index+1}}</td>
                       <td>
                          <div ng-if="false" angucomplete-alt placeholder="Search Job" pause="400" selected-object="selectJob"
                          remote-url="/api/job/searchJob/" remote-url-data-field="result" title-field="title"
                          input-class="form-control" initial-value="x.job">
                          </div>
                           <input ng-disabled="true" ng-model="x.job.title" type="text" class="form-control">
                       </td>
                       <td>
                          <ui-select tagging theme="selectize" uis-open-close="onOpen(isOpen)" search-enabled="false" ng-model="x.process" style="min-width:150px;">
                             <ui-select-match placeholder="Select process...">{{$select.selected.name}}</ui-select-match>
                             <ui-select-choices repeat="item in processList">
                              <large ng-bind-html="item.name"></large>
                             </ui-select-choices>
                           </ui-select>
                       </td>
                       <td ng-show="ginfo.isUsr()">
                          <div class="input-group">
                            <input ng-disabled="ginfo.isUsr()" ng-model="x.start" type="text" class="form-control" placeholder="start time" id="datepicker">
                            <span ng-click="setStartTime(x,ginfo.isUsr())" class="input-group-addon bg-primary b-0 text-white"><i class="ti-time"></i></span>
                          </div>
                       </td>
                       <td ng-show="ginfo.isUsr()">
                          <div class="input-group">
                            <input ng-disabled="ginfo.isUsr()" ng-model="x.stop" type="text" class="form-control" placeholder="stop time" id="datepicker">
                            <span ng-click="setStopTime(x,(ginfo.isUsr() && x.stop))" class="input-group-addon bg-primary b-0 text-white"><i class="ti-time"></i></span>
                          </div>
                       </td>
                       <td>
                          <input type="text" class="form-control" required placeholder="Part Number" ng-model="x.partNo"/>
                       </td>
                        <td>
                          <button type="submit" ng-click="update(x)" class="btn waves-effect waves-light btn-info m-b-5 btn-md">
                             <i class="fa fa-floppy-o"></i>
                          </button>
                        </td>
                    </tr>
                    <tr height="370px;">
                       <td></td>
                    </tr>
                 <!-- </form> -->
               </tbody>
            </table>
</div>
         </form>
       <!-- </div> card box -->
    </div>
    <!-- end col -->

</div>

<!-- <div class="row">
      <div class="col-sm-6">
      <div class="m-b-30">
         <div class="input-group ng-hide" ng-show="showMe">
            <h4 class="header-title m-t-0 m-b-30">TOTAL COST</h4>
            <button type="button" class="btn waves-effect waves-light btn-primary btn-md">{{getTotal()}}</button>
         </div>
      </div>
      </div>
</div> -->

<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" style="display: none;">
   <div class="modal-dialog modal-sm">
       <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="mySmallModalLabel">Confirm</h4>
            </div>
            <div class="modal-body">
             Remove this process?
            </div>
            <div class="modal-footer">
               <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Close</button>
               <button onclick="$('.modal').modal('hide')"  ng-click="delete()" type="button"
               data-dismiss="modal" class="btn btn-danger waves-effect waves-light">Delete
                  <i class="fa fa-trash-o"></i></button>
            </div>
       </div><!-- /.modal-content -->
   </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
